@using pioneerTask.Enums

@model List<PreviewFormModel>

@{
    ViewBag.PageTitle = "Preview form";
    //  ViewBag.CardTitle = "Preview form";
}

<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">

            @foreach (var control in Model)
            {
                @if (control.FormControlType == (int)FieldType.TextBox)
                {
                    <div class="mb-3">
                        <input type="hidden" name="@nameof(control.FormControlId)" value="@control.FormControlId" />
                        <label>@control.FormControlName</label>
                        <input name="@nameof(control.FormControlValue)" class="form-control" @(control.FormControlRequired ? "required" : "") />
                        @* <span asp-validation-for="ControlName" class="text-danger"></span> *@
                    </div>
                }
                else if (control.FormControlType == (int)FieldType.TextArea)
                {
                    <div class="mb-3">
                        <input type="hidden" name="@nameof(control.FormControlId)" value="@control.FormControlId" />
                        <label>@control.FormControlName</label>
                        <textarea name="@nameof(control.FormControlValue)" rows="4" class="form-control" @(control.FormControlRequired ? "required" : "")></textarea>
                        @* <span asp-validation-for="ControlName" class="text-danger"></span> *@
                    </div>
                }
                else if (control.FormControlType == (int)FieldType.Number)
                {
                    <div class="mb-3">
                        <input type="hidden" name="@nameof(control.FormControlId)" value="@control.FormControlId" />
                        <label>@control.FormControlName</label>
                        <input type="number" name="@nameof(control.FormControlValue)" class="form-control" @(control.FormControlRequired ? "required" : "") />
                        @* <span asp-validation-for="ControlName" class="text-danger"></span> *@
                    </div>
                }
                else if (control.FormControlType == (int)FieldType.CheckBox)
                {
                    <div class="mb-3">
                        <input type="hidden" name="@nameof(control.FormControlId)" value="@control.FormControlId" />
                        <label>@control.FormControlName</label>
                        <input type="checkbox" name="@nameof(control.FormControlValue)" class="form-control" @(control.FormControlRequired ? "required" : "") />
                        @* <span asp-validation-for="ControlName" class="text-danger"></span> *@
                    </div>
                }
                else if (control.FormControlType == (int)FieldType.FileUpload)
                {
                    <div class="mb-3">
                        <input type="hidden" name="@nameof(control.FormControlId)" value="@control.FormControlId" />
                        <label>@control.FormControlName</label>
                        <input type="file" name="FormControlFileValue" class="form-control" @(control.FormControlRequired ? "required" : "") />
                        @* <span asp-validation-for="ControlName" class="text-danger"></span> *@
                    </div>
                }
            }

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="IndexPreview" asp-controller="Form" class="btn btn-warning">Back to Index</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}