@using pioneerTask.Entities.Model
@model IEnumerable<Form>



@{
    ViewBag.PageTitle = "Form Management";
    ViewBag.CardTitle = "View Form";
}


<div>
    <a class="btn btn-success" href="Create">Create</a>
</div>

<br />
<table class="table table-hover" width="100%">
    <tr>
        <td>Name</td>
        <td>ControlType</td>
        <td>IsActive</td>
        <td>Created</td>
        <td>Action</td>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ControlName</td>
            <td>@((pioneerTask.Enums.FieldType)item.ControlType)</td>
            <td>@item.IsActive</td>
            <td>@item.Created</td>
            <td>
                <a class="btn btn-success" href="Category/Edit/@item.Id">Edit</a>

@* 
                <a href="javascript:;" class="btn btn-danger js-delete" data-id="@item.Id">
                    <i class="bi bi-trash"></i>
                    Delete
                </a> *@


                <a class="btn btn-danger" href="DeleteForm/@item.Id">Delete</a>


            </td>

        </tr>
    }

</table>



@section Scripts {

        $(document).ready(function () {
        $(document).on('click', '.js-delete', function () {
            var btn = $(this);
            console.log(btn.data('id'));
        });
    });



}